<footer> <div class="data">Created By Arin <br> copyright©2023</div>
<style>
    footer{
        
        position: absolute;
        left: 47%;
        bottom: 3%;
    }
    .data{
        font-size: 15px;
        font-weight: bolder;
        color: rgb(0, 0, 0);
    }
</style></footer>

</body>
</html>
